{% extends 'base.html.twig' %}

{% block body %}
    <h2>Create a salt recipe</h2>

    <div class="container">
        <div class="row">
           <div class="col m8 offset-m2">
               {{ form_start(form) }}
               {{ form_widget(form) }}
               <input type="submit" value="Create" class="btn_perso"/>
               {{ form_end(form) }}
           </div>
        </div>
        <a href="{{ path('saltrecipe_index') }}" class="btn_perso">Back to the list</a>
    </div>

{% endblock %}
