{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="img_index">

        </div>
    </div>
    <div class="row">
        <div class="block_text_index">
            <h2>Our concept</h2>
            <p class="flow-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda debitis dolore illum,
                impedit libero minima quasi sequi sint totam. Eligendi fuga in, incidunt iusto magni maiores non
                placeat reprehenderit?
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda debitis dolore illum,
                impedit libero minima quasi sequi sint totam. Eligendi fuga in, incidunt iusto magni maiores non
                placeat reprehenderit?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda debitis dolore illum,
                impedit libero minima quasi sequi sint totam. Eligendi fuga in, incidunt iusto magni maiores non
                placeat reprehenderit?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda debitis dolore illum,
                impedit libero minima quasi sequi sint totam. Eligendi fuga in, incidunt iusto magni maiores non
                placeat reprehenderit?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda debitis dolore illum,
                impedit libero minima quasi sequi sint totam. Eligendi fuga in, incidunt iusto magni maiores non
                placeat reprehenderit?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda debitis dolore illum,
                impedit libero minima quasi sequi sint totam. Eligendi fuga in, incidunt iusto magni maiores non
                placeat reprehenderit?
            </p>
        </div>
    </div>
</div>

{% endblock %}